# NBA Shot Prediction

Using a dataset of nba shot logs, I will attempt to create an accurate way of predicting the success of a shot.

## Introduction

This is the introduction

### Imports

In [1]:
# Standard Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline


# Display max columns
pd.set_option('display.max_columns', None)

Bad key "text.kerning_factor" on line 4 in
/Users/spags/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/matplotlib/mpl-data/stylelib/_classic_test_patch.mplstyle.
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.1.3/matplotlibrc.template
or from the matplotlib source distribution

### Functions

#### Analysis Functions

In [2]:
def get_info(df):
    '''Quick function to get some info on a dataframe.  
    Not pretty looking at the moment, but we can spice this up later on.'''
    
    # Shape
    print('Shape of Dataframe:\n', df.shape)
    # Info
    print('\nDataframe Info:\n', df.info())
    # Describe
    print('\nDataFrame Description:\n', df.describe())
    # Nulls
    print('\nDataFrame Nulls:', df.isna().sum())

## Obtain

In [3]:
df = pd.read_csv('shot_logs.csv')
print(df.shape)
df.head()

(128069, 21)

,GAME_ID,MATCHUP,LOCATION,W,FINAL_MARGIN,SHOT_NUMBER,PERIOD,GAME_CLOCK,SHOT_CLOCK,DRIBBLES,TOUCH_TIME,SHOT_DIST,PTS_TYPE,SHOT_RESULT,CLOSEST_DEFENDER,CLOSEST_DEFENDER_PLAYER_ID,CLOSE_DEF_DIST,FGM,PTS,player_name,player_id
0,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,1,1,1:09,10.8,2,1.9,7.7,2,made,"Anderson, Alan",101187,1.3,1,2,brian roberts,203148
1,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,2,1,0:14,3.4,0,0.8,28.2,3,missed,"Bogdanovic, Bojan",202711,6.1,0,0,brian roberts,203148
2,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,3,1,0:00,NaN,3,2.7,10.1,2,missed,"Bogdanovic, Bojan",202711,0.9,0,0,brian roberts,203148
3,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,4,2,11:47,10.3,2,1.9,17.2,2,missed,"Brown, Markel",203900,3.4,0,0,brian roberts,203148
4,21400899,"MAR 04, 2015 - CHA @ BKN",A,W,24,5,2,10:34,10.9,2,2.7,3.7,2,missed,"Young, Thaddeus",201152,1.1,0,0,brian roberts,203148

In [4]:
get_info(df)

Shape of Dataframe:
 (128069, 21)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128069 entries, 0 to 128068
Data columns (total 21 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   GAME_ID                     128069 non-null  int64
 1   MATCHUP                     128069 non-null  object
 2   LOCATION                    128069 non-null  object
 3   W                           128069 non-null  object
 4   FINAL_MARGIN                128069 non-null  int64
 5   SHOT_NUMBER                 128069 non-null  int64
 6   PERIOD                      128069 non-null  int64
 7   GAME_CLOCK                  128069 non-null  object
 8   SHOT_CLOCK                  122502 non-null  float64
 9   DRIBBLES                    128069 non-null  int64
 10  TOUCH_TIME                  128069 non-null  float64
 11  SHOT_DIST                   128069 non-null  float64
 12  PTS_TYPE                    128069 non-null  int64
 13  SHOT_RESULT                 128069 non-null  object
 14  CLOSEST_DEFENDER            128069 non-null  object
 15  CLOSEST_DEFENDER_PLAYER_ID  128069 non-null  int64
 16  CLOSE_DEF_DIST              128069 non-null  float64
 17  FGM                         128069 non-null  int64
 18  PTS                         128069 non-null  int64
 19  player_name                 128069 non-null  object
 20  player_id                   128069 non-null  int64
dtypes: float64(4), int64(10), object(7)
memory usage: 20.5+ MB

Dataframe Info:
 None

DataFrame Description:
             GAME_ID   FINAL_MARGIN    SHOT_NUMBER         PERIOD  \
count  1.280690e+05  128069.000000  128069.000000  128069.000000
mean   2.140045e+07       0.208723       6.506899       2.469427
std    2.578773e+02      13.233267       4.713260       1.139919
min    2.140000e+07     -53.000000       1.000000       1.000000
25%    2.140023e+07      -8.000000       3.000000       1.000000
50%    2.140045e+07       1.000000       5.000000       2.000000
75%    2.140067e+07       9.000000       9.000000       3.000000
max    2.140091e+07      53.000000      38.000000       7.000000

          SHOT_CLOCK       DRIBBLES     TOUCH_TIME      SHOT_DIST  \
count  122502.000000  128069.000000  128069.000000  128069.000000
mean       12.453344       2.023355       2.765901      13.571504
std         5.763265       3.477760       3.043682       8.888964
min         0.000000       0.000000    -163.600000       0.000000
25%         8.200000       0.000000       0.900000       4.700000
50%        12.300000       1.000000       1.600000      13.700000
75%        16.675000       2.000000       3.700000      22.500000
max        24.000000      32.000000      24.900000      47.200000

            PTS_TYPE  CLOSEST_DEFENDER_PLAYER_ID  CLOSE_DEF_DIST  \
count  128069.000000               128069.000000   128069.000000
mean        2.264670               159038.487284        4.123015
std         0.441159                78791.172947        2.756446
min         2.000000                  708.000000        0.000000
25%         2.000000               101249.000000        2.300000
50%         2.000000               201949.000000        3.700000
75%         3.000000               203079.000000        5.300000
max         3.000000               530027.000000       53.200000

                 FGM            PTS      player_id
count  128069.000000  128069.000000  128069.000000
mean        0.452139       0.997314  157238.251247
std         0.497706       1.130978   79362.389336
min         0.000000       0.000000     708.000000
25%         0.000000       0.000000  101162.000000
50%         0.000000       0.000000  201939.000000
75%         1.000000       2.000000  202704.000000
max         1.000000       3.000000  204060.000000

DataFrame Nulls: GAME_ID                          0
MATCHUP                          0
LOCATION                         0
W                                0
FINAL_MARGIN                     0
SHOT_NUMBER                      0
PERIOD                           0
GAME_CLOCK                       0
SHOT_CLOCK                    5567
DRIBBLES                         0
TOUCH_TIME                       0
SHOT_DIST                        0
PTS_TYPE                         0
SHOT_RESULT                      0
CLOSEST_DEFENDER                 0
CLOSEST_DEFENDER_PLAYER_ID       0
CLOSE_DEF_DIST                   0
FGM                              0
PTS                              0
player_name                      0
player_id                        0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128069 entries, 0 to 128068
Data columns (total 21 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   GAME_ID                     128069 non-null  int64
 1   MATCHUP                     128069 non-null  object
 2   LOCATION                    128069 non-null  object
 3   W                           128069 non-null  object
 4   FINAL_MARGIN                128069 non-null  int64
 5   SHOT_NUMBER                 128069 non-null  int64
 6   PERIOD                      128069 non-null  int64
 7   GAME_CLOCK                  128069 non-null  object
 8   SHOT_CLOCK                  122502 non-null  float64
 9   DRIBBLES                    128069 non-null  int64
 10  TOUCH_TIME                  128069 non-null  float64
 11  SHOT_DIST                   128069 non-null  float64
 12  PTS_TYPE                    128069 non-null  int64
 13  SHOT_RESULT                 128069 non-null  object
 14  CLOSEST_DEFENDER            128069 non-null  object
 15  CLOSEST_DEFENDER_PLAYER_ID  128069 non-null  int64
 16  CLOSE_DEF_DIST              128069 non-null  float64
 17  FGM                         128069 non-null  int64
 18  PTS                         128069 non-null  int64
 19  player_name                 128069 non-null  object
 20  player_id                   128069 non-null  int64
dtypes: float64(4), int64(10), object(7)
memory usage: 20.5+ MB

## Scrubbing

### Matchup Column

Most likely need to split this into two columns - one for the date and another for the actual teams that are playing each other.

In [6]:
# Checking the value counts
df['MATCHUP'].value_counts()

FEB 07, 2015 - DAL vs. POR    105
JAN 29, 2015 - CHI @ LAL      103
NOV 30, 2014 - TOR @ LAL      102
DEC 03, 2014 - SAS @ BKN      101
OCT 29, 2014 - CHA vs. MIL    101
                             ...
FEB 27, 2015 - MIN @ CHI       33
FEB 28, 2015 - NYK vs. TOR     27
MAR 04, 2015 - NYK @ IND       25
FEB 09, 2015 - GSW @ PHI       11
FEB 09, 2015 - PHI vs. GSW     10
Name: MATCHUP, Length: 1808, dtype: int64

In [7]:
df['MATCHUP'][0]

'MAR 04, 2015 - CHA @ BKN'

In [9]:
df[['Date', 'Matchup']] = df['MATCHUP'].str.split('-', expand = True)
df.drop('MATCHUP', axis =1, inplace = True)

In [10]:
df.head()

,GAME_ID,LOCATION,W,FINAL_MARGIN,SHOT_NUMBER,PERIOD,GAME_CLOCK,SHOT_CLOCK,DRIBBLES,TOUCH_TIME,SHOT_DIST,PTS_TYPE,SHOT_RESULT,CLOSEST_DEFENDER,CLOSEST_DEFENDER_PLAYER_ID,CLOSE_DEF_DIST,FGM,PTS,player_name,player_id,Date,Matchup
0,21400899,A,W,24,1,1,1:09,10.8,2,1.9,7.7,2,made,"Anderson, Alan",101187,1.3,1,2,brian roberts,203148,"MAR 04, 2015",CHA @ BKN
1,21400899,A,W,24,2,1,0:14,3.4,0,0.8,28.2,3,missed,"Bogdanovic, Bojan",202711,6.1,0,0,brian roberts,203148,"MAR 04, 2015",CHA @ BKN
2,21400899,A,W,24,3,1,0:00,NaN,3,2.7,10.1,2,missed,"Bogdanovic, Bojan",202711,0.9,0,0,brian roberts,203148,"MAR 04, 2015",CHA @ BKN
3,21400899,A,W,24,4,2,11:47,10.3,2,1.9,17.2,2,missed,"Brown, Markel",203900,3.4,0,0,brian roberts,203148,"MAR 04, 2015",CHA @ BKN
4,21400899,A,W,24,5,2,10:34,10.9,2,2.7,3.7,2,missed,"Young, Thaddeus",201152,1.1,0,0,brian roberts,203148,"MAR 04, 2015",CHA @ BKN

### Date Column

Let's change the date column from an object to a datetime

In [11]:
df['Date'].value_counts()

JAN 07, 2015     1941
JAN 16, 2015     1875
NOV 26, 2014     1822
DEC 12, 2014     1784
FEB 27, 2015     1784
                 ...
JAN 20, 2015      258
JAN 15, 2015      251
NOV 06, 2014      249
FEB 01, 2015      236
FEB 12, 2015      146
Name: Date, Length: 120, dtype: int64

In [12]:
df['Date'] = pd.to_datetime(df['Date'])
df.head()

,GAME_ID,LOCATION,W,FINAL_MARGIN,SHOT_NUMBER,PERIOD,GAME_CLOCK,SHOT_CLOCK,DRIBBLES,TOUCH_TIME,SHOT_DIST,PTS_TYPE,SHOT_RESULT,CLOSEST_DEFENDER,CLOSEST_DEFENDER_PLAYER_ID,CLOSE_DEF_DIST,FGM,PTS,player_name,player_id,Date,Matchup
0,21400899,A,W,24,1,1,1:09,10.8,2,1.9,7.7,2,made,"Anderson, Alan",101187,1.3,1,2,brian roberts,203148,2015-03-04,CHA @ BKN
1,21400899,A,W,24,2,1,0:14,3.4,0,0.8,28.2,3,missed,"Bogdanovic, Bojan",202711,6.1,0,0,brian roberts,203148,2015-03-04,CHA @ BKN
2,21400899,A,W,24,3,1,0:00,NaN,3,2.7,10.1,2,missed,"Bogdanovic, Bojan",202711,0.9,0,0,brian roberts,203148,2015-03-04,CHA @ BKN
3,21400899,A,W,24,4,2,11:47,10.3,2,1.9,17.2,2,missed,"Brown, Markel",203900,3.4,0,0,brian roberts,203148,2015-03-04,CHA @ BKN
4,21400899,A,W,24,5,2,10:34,10.9,2,2.7,3.7,2,missed,"Young, Thaddeus",201152,1.1,0,0,brian roberts,203148,2015-03-04,CHA @ BKN

## Data Exploration

## Modeling

## Interpret

## Conclusion